<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <a [routerLink]="['/home']">IPS Runners</a>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>
  <div>
    <mat-menu *ngIf="user" #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    <button mat-icon-button *ngIf="user" [routerLink]="['/profile']">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span *ngIf="user" [routerLink]="['/profile']">{{user.displayName}}</span>
    <!-- <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button> -->
  </div>
  <!-- <div *ngIf="!user">
    <button mat-button (click)="login()">Login</button>
  </div> -->
</mat-toolbar>

<main role="main">
  <router-outlet></router-outlet>
</main>