  <div *ngFor="let news of eventList | async" class="news-container">
    <mat-card class="news-card">
      <mat-card-header>
        <div mat-card-avatar>
          <i class="material-icons">
            directions_run
          </i>
        </div>
        <mat-card-title>{{news.event}}</mat-card-title>
        <mat-card-subtitle>{{news.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <p>
          Fecha: {{news.date}}
        </p>
        <p>
          Lugar: {{news.route}}
        </p>
        <p>
          Costo: {{news.price}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" [routerLink]="['/event', news.$key]" *ngIf="news.status">INSCRIBIRME</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button mat-fab *ngIf="profile ? profile.admin : false" (click)="createEvent()">
    <mat-icon>add</mat-icon>
  </button>
